.news-left > .countdown-widget {
  background-image: url("../images/countdown-bg.png");
}

.main-counterdown-container > .countdown-widget {
 background-image: url("../images/countdown-bg-2.png");
}

.countdown-widget {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 220px;
  position: relative;
  color: white;
  font-size: 40px;
}

.countdown-hours {
  position: absolute;
  left: 30px;
  top: 50px;
}

.countdown-minutes {
  position: absolute;
  left: 30px;
  top: 100px;
}

.countdown-number {
  display: inline-block;
  width: 70px;
  text-align: right;
}

.countdown-unit {
  font-size: 25px;
}

.countdown-days {
  position: absolute;
  left: 150px;
  top: 65px;
  font-size: 80px;
}

.countdown-days-text {
  position: absolute;
  left: 165px;
  top: 75px;
  width: 50px;
  text-align: center;
}

.countdown-days-label {
  position: absolute;
  left: 185px;
  top: 110px;
  font-size: 15px;
}

.news-left {
  position: absolute;
  width: 260px;
}

.news-right {
  margin-left: 300px;
}
