#homepage-counter-row {
    width: 94%;
    float: left;
    padding-top: 1em;
    margin-left: 3%;
    margin-right: 3%;
    /*background-color: red;*/
}


.homepage-counter-graph {
    width: 30%;
    float: left;
}

.homepage-counter-text {
    width: 70%;
    float: left;
}

#counter-introduction-title {
    padding-left: 33%;
    padding-right: 10%;
    position: relative;
}

#counter-introduction-content {
    padding-left: 33%;
    padding-right: 10%;
    position: relative;
    padding-top: 0.25em;

}

.mission-row {
    float: left;
    width: 96%;
    padding-top: 3em;
    margin-left: 2%;
    margin-right: 2%;
}

#mission-major {
    position: relative;
    width: 100%;
}

.mission-button {
    width: 12%;
}

#mission-button-tsa {
    position: relative;
    margin-left: 16%;
    margin-right: 16%;
}

#mission-button-wu {
    position: relative;
    margin-right: 16%;
}

#mission-button-lin {
    position: relative;
    margin-right: 10%;
}