$mainColor: #B6203F;

#homepage-counter-row {
  height: 280px;
  margin-bottom: 50px;
  padding: 10px
}

.main-introduction {
  margin-left: 270px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  height: 270px;
  border-top: 3px solid #B71C3D;
  border-bottom: 3px solid #B71C3D;
  position: relative;
  font-size: 18px;
}

.main-introduction h3 {
  margin-top: 10px;
}

.main-introduction .detail {
  position: absolute;
  right: 20px;
  bottom: 8px;
}

.main-introduction .detail a {
  color: $mainColor;
  font-weight: bold;
}

.main-counterdown-container {
  float: left;
  width: 250px;
}

.homepage-counter-graph {
    width: 30%;
    float: left;
}

.homepage-counter-text {
    width: 70%;
    float: left;
}

.mission-row {
    position: relative;
    width: 96%;
    padding-top: 3em;
    margin-left: 2%;
    margin-right: 2%;
}

#mission-major {
    position: relative;
    width: 100%;
}

.mission-button {
    top: 390px;
    width: 12%;
    margin-bottom: 30px;
}

#mission-button-tsa {
    position: absolute;
    left: 85px;
}

#mission-button-wu {
    position: absolute;
    left: 281px;
}

#mission-button-lin {
    position: absolute;
    left: 480px;
}

.other-area  {
  position: absolute;
  width: 90px;
  top: 400px;
}

.other-area > img {
  width: 100%;
}

.volunteer {
  left: 645px;
}

.stuff {
  left: 740px;
}

.fb-like {
  width: 1000px;
  text-align: right;
  margin: auto;
  margin-top: 10px;
}

.fb-like > iframe {
  margin-right: 10px;
}

.mission-link {
  display: inline-block;
  position: absolute;
  width: 180px;
  height: 400px;
  top: 100px;
}

.mission-countdown-days {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  text-align: center;
  top: 200px;
  font-size: 16px;
  padding-top: 30px;
  background-color: rgba(183, 28, 61, 0.5);
}

.mission-countdown-days > span {
  font-size: 20px;
}

.mission-countdown-days.TPE-4 {
  left: 79px;
}

.mission-countdown-days.TPQ-1 {
  left: 280px;
}

.mission-countdown-days.TPQ-6 {
  left: 480px;
}

.mission-link-1 {
  left: 40px;
}

.mission-link-2 {
  left: 240px;
}

.mission-link-3 {
  left: 440px;
}

.v-logo {
  width: 250px;
}
