#homepage-counter-row {
  height: 200px;
  margin-bottom: 50px;
  background-image: url("../images/main-introduction-bg.png");
  background-repeat: no-repeat;
  background-position: 100% 4px;
  padding: 10px
}

.main-introduction {
  margin-left: 250px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  height: 164px;
  border-top: 3px solid #B71C3D;
  border-bottom: 3px solid #B71C3D;
}

.main-counterdown-container {
  float: left;
  margin-top: -24px;
  width: 250px;
}

.homepage-counter-graph {
    width: 30%;
    float: left;
}

.homepage-counter-text {
    width: 70%;
    float: left;
}

.mission-row {
    float: left;
    width: 96%;
    padding-top: 3em;
    margin-left: 2%;
    margin-right: 2%;
}

#mission-major {
    position: relative;
    width: 100%;
}

.mission-button {
    width: 12%;
    margin-bottom: 30px;
}

#mission-button-tsa {
    position: relative;
    margin-left: 16%;
    margin-right: 16%;
}

#mission-button-wu {
    position: relative;
    margin-right: 16%;
}

#mission-button-lin {
    position: relative;
    margin-right: 10%;
}
