.mymap .progress{
  border: 3px solid #B6203F;
  background:none;
  margin-bottom:15px;
  border-radius: 5px;
}

.mymap .progress-bar, .mymap .progress-bar[aria-valuenow="0"]{
  color:#ffffff;
  text-shadow: -1px 0 #B6203F, 0 1px #B6203F, 1px 0 #B6203F, 0 -1px #B6203F;

  margin-top: -2px;
  min-height: 20px;
}

.mymap .progress-bar{
  background-color:#B6203F;
  min-width:0px;
}

.mymap .progress-bar[aria-valuenow="0"]{
  background-color:#ffffff;
  text-align:left;
  min-width:0px;
}

.mymap .progress-bar[aria-valuenow="1"], .progress-bar[aria-valuenow="2"] {
  min-width: 0px;
}



.mymap .emptyvill .progress{
  border: 3px solid #666666;
  background:none;
}

.mymap .emptyvill .progress-bar, .mymap .emptyvill .progress-bar[aria-valuenow="0"]{
  color:#ffffff;
  text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
}

.mymap .emptyvill .progress-bar{
  background-color:#666666;
}

.mymap .emptyvill .progress-bar[aria-valuenow="0"]{
  background-color:#ffffff;
}
.mymap .emptyvill, .mymap .emptyvill a{
  color:#666666;
}


.mymap .bg-primary{
  background:#B6203F;
}
.mymap .btn-primary{
  background:#B6203F;
  border-color:#B6203F;
}


.citizen_header_slash{
  background-image: url('../images/citizen_header_slash.png');
  background-size: 100% 100%;
}

.citizen_v_title {
  border-bottom: 40px solid #B6203F;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0px;
  width: 300px;
  left:50px;

  position:absolute;
  left:50%;
  top:-38px;
  margin-left:-150px;
  z-index:10;
}

.mymap h1, .mymap h2, .mymap h3, .mymap h4, .mymap h5, .mymap h6, .mymap a, .mymap strong{
  color:#B6203F;
}

.mission_foot_bottom {
  background-image: url('../images/map_bottom_2.svg');
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center 7px;
  margin:0px;
  padding:0px  40px;
  display:inline-block;
  text-align:center;
  color: #B6203F;
}
.map_border , .map_border_noleft{
  border: 3px solid #B6203F;
}

.map_border_noleft {
  border-left: 0px;
}
.map_border_top{
  border-top: 3px solid #B6203F;
}

.map_hr{
  border: 3px solid #B6203F;
  border-top: 0px;
  width:100%;
}

.map_sb_scroll{
  overflow-x:hidden; overflow-y:scroll;
}




.map_fb_image{
  margin:2px;
  background:#B6203F;
  border:1px solid  #B6203F;
}

.map_button{
  background:none;
  border:0px;
  background-image: url('../images/map_button.svg');
  background-size: 100% 100%;
  font-size:120%;
  color:#B6203F;
  padding:10px;
  padding-left:50px;
  padding-right:50px;
}



.imgWrap {
  position: relative;
  display:inline-block;
}


.imgDescription {
  padding:5px;
  width:80px;
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  background: #B6203F;
  color:#ffffff;
  border: 3px solid #B6203F;
  opacity: 0;
}
.imgArrow {
  position: absolute;
  bottom:35px;
  left:10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #B6203F;
  opacity: 0;
}

.imgDescription, .imgArrow{
  visibility: hidden;
}

.imgWrap:hover .imgDescription , .imgWrap:hover .imgArrow{
  visibility: visible;
  opacity: 1;
}

.imgWrap img{
  margin:1px;
  cursor:pointer;
  height:35px;
  width:35px;
}

.map_tall, .map_short{
  padding:0px;
}

.map_tall{
  height:800px;
}
.map_short{
  height:600px;
}

.map_tall #map_sidebar_village{
  height:580px;
}
.map_short #map_sidebar_village{
  height:440px;
}

.map_tall #map_sidebar_votestat{
  height:540px;
}
.map_short #map_sidebar_votestat{
  height:400px;
}

.map_tall .map_panel_heading{
  height:60px;
}

.map_tall .map_panel_heading h3{
  background-image: url('../images/map_panel_header.png');
  background-size: 100% 100%;
  padding:5px;
  width:90%;
  color: #ffffff;
}

.map_short .map_panel_heading{
  background: #B6203F;
  color: #ffffff;
  height:30px;
}

.map_short .map_panel_heading h3{
  padding:0px;
  margin-top:0px;
  color: #ffffff;
}


.map_tall .map_v_image{
  position:absolute;
  top:160px;
  left:50%;
  margin-left:-32px;
  z-index:10;
}

.map_tall .map_vs_image{
  height:80px;
  width:65px;
  position:absolute;
  top:200px;
  left:50%;
  margin-left:-32px;
  z-index:10;
}

.map_short .map_vs_image, .map_short .map_v_image{
  display:none;
}


.map_tall #map_sidebar_vslist{
  height:160px;
}

.map_short #map_sidebar_vslist{
  height:140px;
}

.map_tall #map_sidebar_townlist{
  height:120px;
}

.map_short #map_sidebar_townlist{
  height:100px;
}

.map_tall .map_sidebar_padding{
  height:30px;
}

.map_short .map_sidebar_padding{
  height:0px;
}
.mymap .panel-body{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
}
.map_fb_more_less{
  width:35px;
  height:35px;
  padding-top:5px;
  padding-left:2px;
  color:#B6203F;
  cursor:pointer;
  display:inline-block;
}

#mission_frame_boss, #mission_frame_citizen{
  width:200px;
  height:300px;
  top:-50px;
  position:absolute;
}

#mission_frame_boss{
  background-size: 100% 100%;
  right:10px;
}
.mission_frame_boss{
  background-image: url('../images/mission_frame_boss.svg');
}
.mission_frame_boss_black{
  background-image: url('../images/mission_frame_boss_black.svg');
}

#mission_frame_citizen{
  background-image: url('../images/mission_frame_citizen.svg');
  background-size: 100% 100%;
  left:10px;
}
#mission_frame_citizen_list{
  left:10px;
  position:absolute;
  top:250px;
  width:200px;
}

.mission_frame_img{
  width: 150px;
  top: 90px;
  left: 25px;
  position: absolute;
}

.mission_frame_name{
  color:#000000 !important;
  top: 232px;
  width:200px;
  position: absolute;
}
/*
.mission_add_img{
  display:inline-block;
  width:25px;
  height:25px;
  cursor:pointer;
}
*/

.mission_progress_txt {
  padding-top:5px;
  padding-bottom:5px;

}
/*.map_participant {
  display:inline-block;
  color:#B6203F;
}*/
.row_same_height {
    display:table-row;
}
.mission_content{
  width:25%;
  display: table-cell;
  vertical-align: top;
  padding:10px;
  position:relative;
}
.mission_table{
  min-height:400px;
  position:relative;
  width:100%;
  table-layout: fixed;
}
.map_sidebar_villlclick{
  background:#ffff00;
}



.mymap .hp2 .progress{
  border: 3px solid #000000;
}

.mymap .hp2 .progress-bar, .mymap .hp2 .progress-bar[aria-valuenow="0"]{
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.mymap .hp2 .progress-bar{
  background-color:#000000;
}

.mymap .hp2 strong{
  color:#000000;
}
