$mainColor: #B6203F;

.effect {
  font-size: 16px;
  font-weight: bold;
  color: $mainColor;
}

.mission-news-type {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
}

.combo {
  width: 60px;
  left: -10px;
}

.mission-news-type > img {
  width: 100%;
}

.mission-feed {
  position: relative;
}

.mission-news-content {
  margin-left: 19px;
  padding-left: 32px;
  padding-top: 7px;
  padding-bottom: 15px;
  border-left: 1px solid $mainColor;
}

.mission_content{
  height:400px;
  /*height:400px;*/
 /* border-bottom:5px solid #B6203F;*/
}

.citizen-avatar:after {
  content: '';
  border: 2px $mainColor solid;
  width: 160px;
  height: 160px;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 20px;
}

.citizen-avatar {
  border-radius: 50%;
  margin-top: 25px;
  width: 150px;
  height: 150px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}

.tutorial {
  width: 100%;
}

.progress-container {
  position: absolute;
  top: 300px;
  width: 100%;
}

.mission-desc {
  width:90%;
  margin: 0 auto;
  position: relative;
  height: 430px;
}

.mission-desc > div {
  position: absolute;
  top: 30px;
}

.mission-desc-left {
  width: 300px;
  height: 350px;
}

.mission-desc-right {
  height: 320px;
  left: 350px;
  width: 450px;
  margin-top: 30px;
  font-size: 16px;
  border: 3px solid #B81C3D;
}

.mission-desc-right > div.desc {
  padding: 15px 15px 0 15px;
  margin-bottom: 20px;
}

.fight-botton {
  width: 170px;
}

.line-on-fight {
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px solid #B81C3D;
  margin-top: -21px;
  padding: 0;
}

.mission-desc-img {
  height: 100%;
}
