$mainColor: #C2003F;
$highlightColor: #ff6347;
$nav-height: 42px;

.container{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

ul.navigation {
  list-style: none;
  padding-left: 0px;
  text-align: center;
  width: 1000px;
  margin: auto;
}

li.navigation{
    display: inline-block;
}

.navigation-major{
    width: 50%;
}

.navigation-title{
    padding-top: 25px;
    padding-bottom: 39px;
    width: auto;
}

.navigation > li {
    padding: 0;
}

.header {
  height: 120px;
}

#nav-home {
  margin-right: -14px;
}

#nav-home > a {
  background-color: transparent;
  margin-right: 0;
  margin-left: 0;
}

.navigation > li > a {
  display: inline-block;
  height: $nav-height;
  line-height: $nav-height;
  background: $mainColor;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: $nav-height / 3;
  margin-left: $nav-height / 3;
  font-size: 16px;
}

.navigation > li > a.nav-link:before {
  content: "";
  border-top: $nav-height / 2 solid transparent;
  border-bottom: $nav-height / 2 solid transparent;
  border-right: $nav-height / 3 solid $mainColor;
  position: absolute;
  left: ($nav-height / 3) * -1 ;
  top: 0;
}

.navigation > li > a.nav-link:hover {
  background: $highlightColor;
}
.navigation > li > a.nav-link:hover:after {
  border-left-color: $highlightColor;
}
.navigation > li > a.nav-link:hover:before {
  border-right-color: $highlightColor;
}

.navigation > li > a.nav-link:after {
  content: "";
  border-top: $nav-height / 2 solid transparent;
  border-bottom: $nav-height / 2 solid transparent;
  border-left: $nav-height / 3 solid $mainColor;
  position: absolute;
  right: ($nav-height / 3) * -1 ;
  top: 0;
}
