$news-header-height: 4.5em;
$main-color: #B6203F;

.news-left-column {
    width: 30%;
}

.news-header {
  height: $news-header-height;
  margin-bottom: -5px;
}

.news-header-text {
  color: $main-color;
  font-size: 3.5rem;
  border-top: 2px $main-color solid;
  border-bottom: 2px $main-color solid;
}

.news-flag {
  height: $news-header-height;
}

.news-title {
  font-size: 2rem;
}

.news-title-ellipsis {
  text-overflow: ellipsis;
  width: 400px;
  white-space: nowrap;
  overflow: hidden !important;
  display: inline-block;
  vertical-align: text-bottom;
}

.news-type {
  display: inline-block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  background: $main-color;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
}

.news-type-text {
  color: white;
  display: inline-block;
  transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
}

.news-feeds {
  border-left: 3px solid #c2003f;
  margin-left: 3px;
}

.news-right a {
  color: black;
  text-decoration: none;
}

.news-right a:hover {
  color: #428bca;
  text-decoration: none;
}

.news-mission {
  padding-top: 240px;
  margin-left: 80px;
  width: 100px !important;
}

.news-mission img {
  width: 100%;
}

.news-icon-type {
  position: absolute;
  left: -33px;
  top: 0;
  width: 60px;
}

.col-icon {
  position: relative;
}

.more-news {
  font-size: 18px;
  text-align: right;
}

.more-news > a {
  color: $main-color;
}

.citizen-quote {
  position: relative;
}

.citizen-author {
  position: absolute;
  left: 55px;
  top: 140px;
  font-size: 18px;
}

.citizen-speech {
  margin-left: 38px;
  margin-right: 38px;
}
