<style>.register_supplement{
  margin:15px;
  margin-top:5px;
}
.register_supplement td, .register_supplement th{
  text-align:left;
  padding:5px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;

  border:1px solid #cccccc;
}

.register_supplement th {
  font-weight:bold;
  /*border-bottom:1px solid #cccccc;*/
}
/*
.register_supplement .border_right{
  border-right:1px solid #cccccc;
}

.register_supplement .border_bottom{
  border-bottom:1px solid #cccccc;
}
*/
.register .hr_double_img{
  position:relative;
  margin-top:30px;
  margin-bottom:30px;
}

.register .hr_double, .register .hr_single{
  position:relative;
  margin-top:10px;
  margin-bottom:10px;
}

.register .hr_double_img hr, .register .hr_double hr{
  border-top: 2px solid #B6203F;
  border-bottom: 2px solid #B6203F;
  height: 5px;
  margin-bottom: 0;
}

.register .hr_single hr{
  border-top: 2px solid #B6203F;
  border-bottom: 0px ;
  height: 0px;
  margin-bottom: 0;
}

.register .hr_double_img img{
  position: absolute;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  top: -25px;
}
.register p{
  margin:15px;
}
.register .darkred ,.register a{
  color:#B6203F;
}
.register .button_1, .register .button_2{
  cursor:pointer;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin:0px;
  background:none;
  border:0px;
  background-size: 100% 100%;
  width:70px;
  height:30px;
  text-align:center;
}

.register .button_1{
  background-image: url('images/reg_button_1.svg');
  color:#ffffff;
}

.register .button_2{
  background-image: url('images/reg_button_2.svg');
  color:#B6203F;
}

.register .button_3{
  cursor:pointer;
  display:inline-block;
  padding-top:11px;
  padding-bottom:11px;
  margin:0px;
  background:none;
  border:0px;
  background-size: 100% 100%;
  width:110px;
  height:40px;
  text-align:center;
  background-image: url('images/reg_button_1.svg');
  color:#ffffff;
}</style> <form action="" name="content.register"> <div class="register"> <div class="modal-body"> <div class="text-center" style="width:100%"> <img src="images/register_header.svg" style="width:100%"> </div> <div class="hr_double_img"> <img src="images/citizen-v.png" alt="citizen V"> <hr> </div> <div class="row"> <div class="col-xs-12 text-center"> <p> 為方便統計物資採買數量，物資捐贈目前已經截止。 </p> <p> 若您想捐贈，您可以前往<a href="http://tshirt.appy.tw/" target="_blank">T-shirt 贊助</a>，贊助採買物資所需的費用。 </p> </div> </div> <div class="hr_double"> <hr> </div> <div> <div class="row"> <div class="col-xs-12" style="text-align:right"> <div class="button_2" data-ng-click="cancel()"><span>Cancel</span></div> </div> </div> </div> </div> </div> </form>