<div class="row">
  <div class="col-md-9" style="padding:0px;">
    <leaflet markers="markers" defaults="defaults" geojson="geojson" style="height:600px;"></leaflet>
 <!--   <leaflet markers="markers" center="taiwan" defaults="defaults" geojson="geojson" style="height:600px;"></leaflet>
    <div class="back-button" style="position:absolute;left:10px;top:10px;" ng-show="myscope.showVS != null">
      <button type="button" class="btn btn-primary" ng-click="myscope.back()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
    </div>-->
  </div>
  <div class="col-md-3" style="padding:0px;">
    <div class="panel panel-default area-info" style="height:600px;width:100%;" ng-show="myscope.showVS == null" >
      <div class="panel-heading" style="height:40px;">
        <h3 class="panel-title">
          魔王領土兵屯列表 
        </h3>
      </div>
      <div class="panel-body" >
        <p> 種子收洋動案友有的作的我形：人辦開變說然……如孩可地，</p>
        <hr/>
        <ul class="nav nav-stacked" ng-repeat="(townKey,townVal) in myscope.villageSum" >
          <li ng-click='myscope.setTownTab(townKey)' style="cursor:pointer;" ng-class="myscope.isCurrentTownTab(townKey)">{{townKey}}</li>
        </ul>
      </div>
      <div class="panel-body" style="overflow:scroll;height:400px;border-top:1px solid #ccc;">
        <div ng-repeat="(townKey,townVal) in myscope.villageSum" ng-show="myscope.currentTownTab == townKey">
          <div ng-repeat="(villKey,villVal) in townVal">
            <div class="row">
              <div class="col-md-7 col-lg-8">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{villVal*100}}" 
                    aria-valuemin="0" aria-valuemax="100" style="width: {{villVal*100}}%;">
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-lg-4">
                <a href="javascript:void(0);" ng-click="myscope.setCurrentAreaClick(townKey,villKey)"> {{villKey}}</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="panel panel-default area-info" style="height:600px;width:100%;" ng-show="myscope.showVS != null" >
      <div class="panel-heading">
        <h3 class="panel-title">
          {{myscope.showVS.townName}} {{myscope.showVS.villageName}} 兵屯詳細概況
        </h3>
      </div>
      <div class="panel-body" style="overflow:scroll;height:560px;">
        <div class="back-button" style="" ng-show="myscope.showVS != null">
          <button type="button" class="btn btn-primary" ng-click="myscope.back()">
            <i class="fa fa-chevron-left"></i> Back
          </button>
        </div>

        <hr/>

        <ul class="nav nav-stacked" ng-repeat="votestat in myscope.showVS.vsArray" >
          <li ng-click='myscope.setCurrentMarkerClick(votestat.id)' style="cursor:pointer;" ng-class="myscope.isCurrentVsTab(votestat.id)">{{votestat.name}}</li>
        </ul>
        <hr/>

        <div>
          <div style="padding:10px;">
            <h5>HP（志工數）</h5> 
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{myscope.vsInfo[myscope.currentVsTab.vsId].volunteer * 100}}" 
                aria-valuemin="0" aria-valuemax="100" style="width: {{myscope.vsInfo[myscope.currentVsTab.vsId].volunteer * 100}}%;">
              </div>
            </div>
            <div id="hp_people" style="margin:5px" >
              <img class="img-circle" style="padding:2px" ng-repeat="name in myscope.vsInfo[myscope.currentVsTab.vsId].vlist track by $index" 
                src="http://fakeimg.pl/40/?text={{name}}">
            </div>
            <button type="button" class="btn btn-primary" ng-click="myscope.registerDialog('volunteer')">
              參戰！  
            </button>
          </div>
          <hr/>
          <div style="padding:10px;">
            <h5>SP（物資數）</h5> 
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{myscope.vsInfo[myscope.currentVsTab.vsId].supplement*100}}" 
                aria-valuemin="0" aria-valuemax="100" style="width: {{myscope.vsInfo[myscope.currentVsTab.vsId].supplement*100}}%;">
              </div>
            </div>
            <div id="hp_people" style="margin:5px" >
              <img class="img-circle" style="padding:2px" ng-repeat="name in myscope.vsInfo[myscope.currentVsTab.vsId].slist track by $index" 
                src="http://fakeimg.pl/40/?text={{name}}">
            </div>
            <button type="button" class="btn btn-primary" ng-click="myscope.registerDialog('supplement')">
              物資參戰！  
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>

