<h2 class="text-center">限時副本任務</h2>
<div class="row" ng-controller="MissionsCtrl">
  <div class="col-md-4 text-center" ng-repeat="mission in missions">
    <a ng-href="#/mission/{{mission.id}}"><img class="mission-cover col-mission" ng-src="http://fakeimg.pl/350x200/?text={{mission.name}}"></a>
    <div class="row col-mission">
      <div class="col-md-4 text-center">
        <img src="http://fakeimg.pl/100/">
      </div>
      <div class="col-md-8 text-left">
        {{mission.description}}
      </div>
    </div>

  </div>
</div>
