<div class="main-container">
  <div class="news-left" ng-include="'views/countdown.html'">
  </div>
  <div class="news-right">
    <div class="row news-header">
      <div class="col-md-1 news-header">
        <img src="images/news-header-flag.png" />
      </div>
      <div class="col-md-11 news-header">
        <div class="news-header-text text-center">戰略消息</div>
      </div>
    </div>
    <div class="row" ng-repeat="feed in feeds">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
        <h2 class="news-title"><span class="news-type"><span class="news-type-text">{{feed.categories[0]}}</span></span>{{feed.title}}</h2>
        <p>{{feed.contentSnippet}}</p>
      </div>
    </div>
  </div>
</div>
