
<!--
<button type="button" class="btn btn-primary" ng-click="myscope.reload()">
  <i class="fa fa-chevron-left"></i>reload
</button>
-->

<div class="main-container" id="mission_map_container" style="width:95%;min-width:1000px;max-width:1500px;">

<div class="row mymap" style="margin-bottom:10px;">
  <div id="map_main" class="col-xs-8 col-lg-9 map_border map_short"><!-- ng-class="myscope.mapclass">-->
    <!--<leaflet markers="markers" defaults="defaults" geojson="geojson" maxbounds="maxbounds" layers="layers" style="height:100%;"></leaflet>-->
    <leaflet markers="markers" defaults="defaults" geojson="geojson" maxbounds="maxbounds" style="height:100%;"></leaflet>
    <div style="width: 100%; height: 100%; background: #333333; z-index: 200000; position: absolute; top: 0px; " class="myLoading">
      <div style="position:relative; color:#ffffff; top:60%;text-align:center;">
        <h1 style="color:#ffffff">{{myscope.mapLoadingStatus |  percentage:0 }}</h1>
      </div>
      <div id="mySpinner" >
      </div>
    </div>
  </div>
  <div id="map_sidebar" class="col-xs-4 col-lg-3 map_border_noleft map_short"><!-- ng-class="myscope.mapclass">-->
    <div style="width: 100%; height: 100%; background: #333333; z-index: 200000; position: absolute; top: 0px; " class="myLoading">
    </div>
    <div class="panel panel-default area-info" style="width:100%;padding:0px;margin:0px;border:0px;" ng-show="myscope.showVS == null" >

      <div class="map_panel_heading" >
        <h3>
          魔王領土兵屯列表
        </h3>
        <img class="map_v_image" src="images/map_panel_v.svg" />
      </div>

      <div id="map_sidebar_townlist" class="panel-body map_border_top map_sb_scroll" >
        <ul class="nav nav-stacked" ng-repeat="(townKey,townVal) in myscope.afterCount track by $index" >
          <li ng-click='myscope.setTownTab(townKey)' style="cursor:pointer;" ng-class="myscope.isCurrentTownTab(townKey)">{{townKey}}</li>
        </ul>
      </div>
      <div id="map_sidebar_village" class="panel-body map_border_top map_sb_scroll" >
        <div class="map_sidebar_padding">
        </div>
        
        <div class="row" style="border-bottom: 2px solid #B6203F ;margin-bottom:5px;padding-bottom:5px;">
          <div class="col-xs-8">
            <strong>連署書收集量</strong>
          </div>
          <div class="col-xs-4">
            <strong>里名</strong>
          </div>
        </div>

        <div ng-repeat="(townKey,townVal) in myscope.afterCount" ng-show="myscope.currentTownTab == townKey">
          <div ng-repeat="(villKey,villVal) in townVal">
            <div class="row" ng-class="myscope.isCurrentVillTab(townKey,villKey)" style="cursor:pointer;"
              ng-click="myscope.setCurrentAreaClick(townKey,villKey)" id="count_{{townKey}}_{{villKey}}">
              <div class="col-xs-4">
                <div class="progress " style="margin-top:8px;margin-bottom:8px;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{(villVal.count/villVal.maxCount)*100}}"
                    aria-valuemin="0" aria-valuemax="100" style="width: {{(villVal.count/villVal.maxCount)*100}}%;">
                  </div>
                </div>
              </div>
              <div class="col-xs-4" style="padding-top:6px;">
                <strong > {{villVal.count}} / {{villVal.maxCount}}</strong>
              </div>
              <div class="col-xs-4" style="padding-top:6px;">
                <!--<a  href="javascript:void(0);" > {{villKey}}</a>-->
                <strong>  {{villKey}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="panel panel-default area-info" style="width:100%;padding:0px;margin:0px;border:0px;" ng-show="myscope.showVS != null" >
      <div class="map_panel_heading">
        <h3>
          兵屯詳細概況
        </h3>
        <span ng-show="myscope.showVS.vsArray.length > 0">
          <img class="map_vs_image" src="images/map_panel_vs_1.svg" ng-show=" myscope.getVoteStatImg() == 1"/>
          <img class="map_vs_image" src="images/map_panel_vs_2.svg" ng-show=" myscope.getVoteStatImg() == 2"/>
          <img class="map_vs_image" src="images/map_panel_vs_3.svg" ng-show=" myscope.getVoteStatImg() == 3"/>
        </span>
        <span ng-show="myscope.showVS.vsArray.length == 0">
          <!--<img class="map_vs_image" src="images/map_panel_vs_3.svg"/>-->
        </span>
      </div>

      <div id="map_sidebar_vslist" class="panel-body map_border_top map_sb_scroll" >
        <div class="back-button" style="" ng-show="myscope.showVS != null">
          <button type="button" class="btn btn-primary" style="height:30px;padding-top:5px;padding-bottom:5px;" ng-click="myscope.back()">
            <i class="fa fa-chevron-left"></i>
            Back
          </button>
          <h4><strong > 擺攤據點名稱：</strong><br/>{{myscope.afterStatInfo[myscope.currentVsTab.vsId].name}}</h4>
          
          
        </div>
      </div>

      <div id="map_sidebar_votestat" class="panel-body map_border_top map_sb_scroll" >
        <div class="map_sidebar_padding">
          <p><strong> 擺攤據點位置：</strong><br/>{{myscope.afterStatInfo[myscope.currentVsTab.vsId].address}}</p>
          <strong>擺攤據點資訊：</strong><br/>
          <span class="darkred" ng-if="myscope.afterStatInfo[myscope.currentVsTab.vsId]">
            <span ng-repeat="line in (myscope.afterStatInfo[myscope.currentVsTab.vsId].comment | newlines) track by $index">
                 {{line}} </br>
            </span>
          </span>
          <div>
            <button type="button" class="map_button" ng-click="myscope.registerDialog()" >志工參戰</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


</div>

<script>
var opts = {
  lines: 13, // The number of lines to draw
  length: 21, // The length of each line
  width: 10, // The line thickness
  radius: 30, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  direction: 1, // 1: clockwise, -1: counterclockwise
  color: '#ffffff', // #rgb or #rrggbb or array of colors
  speed: 1, // Rounds per second
  trail: 60, // Afterglow percentage
  shadow: true, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: '50%', // Top position relative to parent
  left: '50%' // Left position relative to parent
};
var target = document.getElementById('mySpinner');
var spinner = new Spinner(opts).spin(target);

$(document).ready(function(){
    //console.log('window resize');
    var $window = $(window);
    // Function to handle changes to style classes based on window width
    function checkHeight() {
        //console.log('check height',$window);
        if ($window.height() <= 800) {
            //console.log('small');
            $('#map_main').removeClass('map_tall');
            $('#map_main').addClass('map_short');
            $('#map_sidebar').removeClass('map_tall')
            $('#map_sidebar').addClass('map_short');

            //console.log('map_main height',$('#map_main').height());
            //console.log('map_sidebar height',$('#map_main').height());
            //console.log('map_main class',$('#map_main').attr('class'));

        };

        if ($window.height() > 800) {
            //console.log('large');
            $('#map_main').removeClass('map_short');
            $('#map_main').addClass('map_tall');
            $('#map_sidebar').removeClass('map_short');
            $('#map_sidebar').addClass('map_tall');

            //console.log('map_main height',$('#map_main').height());
            //console.log('map_main class',$('#map_main').attr('class'));
        }
    }

  checkHeight();
  setTimeout(function(){
    checkHeight();
    $(window).resize(checkHeight);
  },0);

});
</script>

