<div class="countdown-widget">
  <div class="col-md-6">
    <div class="countdown-left"><span class="countdown-hours">{{time.hours}}</span> <span class="countdown-unit">時</span></div>
    <div class="countdown-left"><span class="countdown-minutes">{{time.minutes}}</span> <span class="countdown-unit">分</span></div>
  </div>
  <div class="col-md-6">
    <div ng-class="'p' + ((50 - time.countdown) * 2)" class="c100 days-countdown">
        <span>{{time.countdown}}</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
  </div>
</div>
