<div class="countdown-widget">
  <div class="surgery text-center">戰鬥開始</div>
  <!-- <div class="countdown-hours">
    <span class="countdown-number">{{time.days}}</span>
    <span class="countdown-unit">天</span>
  </div>
  <div class="countdown-minutes">
    <span class="countdown-number">{{time.hours}}</span>
    <span class="countdown-unit">時</span>
  </div>
  <div ng-class="'p' + time.ratio" class="c100 countdown-days">
      <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
      </div>
  </div>
  <div class="countdown-days-text">{{time.seconds}}</div> -->
</div>
