<div class="countdown-widget">
  <div class="countdown-hours">
    <span class="countdown-number">{{time.hours}}</span>
    <span class="countdown-unit">時</span>
  </div>
  <div class="countdown-minutes">
    <span class="countdown-number">{{time.minutes}}</span>
    <span class="countdown-unit">分</span>
  </div>
  <div ng-class="'p' + ((50 - time.countdown) * 2)" class="c100 countdown-days">
      <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
      </div>
  </div>
  <div class="countdown-days-text">{{time.countdown}}</div>
</div>
