<div class="container">
  <div ng-include="'views/nav.html'"></div>
  <div class="main-container">
    <div class="citizen-v text-center">
      <img src="images/citizen-v.png" alt="citizen V" />
      <hr class="double-line" />
    </div>
    <h2 class="center-title">V 計畫自由罷免示範區</h2>
    <p class="content-container">
      3月割闌尾計畫開始動刀，針對罷免呼聲最高的前三位立委：蔡正元、吳育昇、林鴻池進行罷免連署，目前也陸續在9/26、10/6、10/9 陸續完成第1階段2%的罷免門檻，現在我們宣布成立「自由罷免示範區」，呼籲民眾，民主不只有選舉權，罷免權也需要被執行。
    </p>
    <hr class="double-line" />
    <div>
      <map id="total-recall-map" name="total-recall-map">
        <area shape="rect" alt="Total recall" title="" coords="0,110,406,314" href="http://www.totalrecall.tw/volunteer.html" target="_blank" />
        <area shape="rect" alt="割闌尾計畫/正元手術房 " title="" coords="646,212,892,244" href="http://goo.gl/NVgiV2" target="_blank" />
        <area shape="rect" alt="割闌尾計畫/板橋手術中 " title="" coords="646,283,895,308" href="http://goo.gl/6kE5we" target="_blank" />
        <area shape="rect" alt="割闌尾計畫/民主wego陣線 " title="" coords="645,249,891,275" href="http://goo.gl/bc9z0b" target="_blank" />
        <area shape="rect" alt="南區" title="" coords="329,342,885,609" href="https://docs.google.com/forms/d/1L91uDb7eEewWAkwotWX06lZdR6avsVusfb0wRLNMqMs/viewform?c=0&w=1" target="_blank" />
      </map>
      <img usemap="#total-recall-map" class="total-recall" src="images/total-recall.png" alt="total recall map" />
    </div>
  </div>
</div>
<div ng-include="'views/footer.html'"></div>
