<div class="main-container">
  <div id="homepage-counter-row">
      <div class="main-counterdown-container" ng-include="'views/countdown.html'"></div>
      <div class="main-introduction">
        <h3 id="counter-introduction-title">什麼是罷免日計劃?</h3>
        <div id="counter-introduction-content"><p>這一天，就是今年的選舉日：1129。</p>

        <p>1129，台灣有七成的選民會去投票；1129這一天我們將在投票所外擺攤簽署罷免連署書，讓選舉日變成罷免日，因此割闌尾V計劃就是為了讓罷免第二階段看似不可能的任務變成可能，這一天我們將實踐屬於人民的參政權！</p></div>
      </div>
  </div>

  <div ng-include="'views/missions.html'"></div>
</div>
