<div class="container">
  <div ng-include="'views/nav.html'"></div>
  <div class="main-container">
    <div id="homepage-counter-row">
        <div class="main-counterdown-container">
          <img class="v-logo" src="images/1129v-logo.png" />
        </div>
        <div class="main-introduction">
          <h3 id="counter-introduction-title">割闌尾V計劃在11/29這一天大獲全勝！</h3>
          <div id="counter-introduction-content"><p> 為期半年的長時間計劃和實踐，這一天我們不僅是台灣民主里史上第一次將三位立委同時送入罷免第二階段，這一天蔡正元選區更破四萬張連署書，一舉達標，吳育昇和林鴻池也達門檻1/3。 但今天不是結束，送件後會有很高的不合格率，因此我們需要更多連署書，確保這些闌尾真正被送到第三階段！ </p>
  <p>請所有公民V繼續報名我們<a href="http://goo.gl/MURskc" target="_blank">後續志工</a>，進行蒐集連署書和整理連署書工作。</p>
          </div>
        </div>
    </div>
    <div ng-include="'views/missions.html'"></div>
  </div>
</div>
<div ng-include="'views/footer.html'"></div>
