<!--
<button type="button" class="btn btn-primary" ng-click="myscope.reload()">
  <i class="fa fa-chevron-left"></i>reload 
</button>
-->
<style>
.map_border {
  border: 5px solid #C2003F; 
}

.map_border_right {
  border: 5px solid #C2003F; 
  border-left: 0px; 
}

</style>
<div class="row" style="margin-bottom:10px;">
  <div class="col-md-9 map_border" style="padding:0px;height:900px;">
    <leaflet markers="markers" defaults="defaults" geojson="geojson" style="height:100%;"></leaflet>
    <div style="width: 100%; height: 100%; background: #333333; z-index: 200000; position: absolute; top: 0px; " id="myLoading">
      <div style="position:relative; color:#ffffff; top:60%;text-align:center;">
        <h1>{{myscope.mapLoadingStatus |  percentage:0 }}</h1>
      </div>
    </div>
  </div>
  <div class="col-md-3 map_border_right" style="padding:0px;height:900px;">
    <div class="panel panel-default area-info" style="height:100%;width:100%;padding:0px;margin:0px;" ng-show="myscope.showVS == null" >
      <div class="panel-heading" style="height:40px;">
        <h3 class="panel-title">
          魔王領土兵屯列表 
        </h3>
      </div>
      <div class="panel-body" >
        <p> 種子收洋動案友有的作的我形：人辦開變說然……如孩可地，</p>
        <hr/>
        <ul class="nav nav-stacked" ng-repeat="(townKey,townVal) in myscope.villageSum" >
          <li ng-click='myscope.setTownTab(townKey)' style="cursor:pointer;" ng-class="myscope.isCurrentTownTab(townKey)">{{townKey}}</li>
        </ul>
      </div>
      <div class="panel-body" style="overflow:scroll;height:700px;border-top:1px solid #ccc;">
        <div ng-repeat="(townKey,townVal) in myscope.villageSum" ng-show="myscope.currentTownTab == townKey">
          <div ng-repeat="(villKey,villVal) in townVal">
            <div class="row">
              <div class="col-md-7 col-lg-8">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{villVal*100}}" 
                    aria-valuemin="0" aria-valuemax="100" style="width: {{villVal*100}}%;">
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-lg-4">
                <a href="javascript:void(0);" ng-click="myscope.setCurrentAreaClick(townKey,villKey)"> {{villKey}}</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="panel panel-default area-info" style="height:900px;width:100%;" ng-show="myscope.showVS != null" >
      <div class="panel-heading">
        <h3 class="panel-title">
          {{myscope.showVS.townName}} {{myscope.showVS.villageName}} 兵屯詳細概況
        </h3>
      </div>
      <div class="panel-body" style="overflow:scroll;height:860px;">
        <div class="back-button" style="" ng-show="myscope.showVS != null">
          <button type="button" class="btn btn-primary" ng-click="myscope.back()">
            <i class="fa fa-chevron-left"></i> Back
          </button>
        </div>

        <hr/>

        <ul class="nav nav-stacked" ng-repeat="votestat in myscope.showVS.vsArray" >
          <li ng-click='myscope.setCurrentMarkerClick(votestat.id)' style="cursor:pointer;" ng-class="myscope.isCurrentVsTab(votestat.id)">{{votestat.name}}</li>
        </ul>
        <hr/>

        <div>
          <div style="padding:10px;">
            <h5>HP（志工數）</h5> 
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{myscope.vsInfo[myscope.currentVsTab.vsId].volunteer * 100}}" 
                aria-valuemin="0" aria-valuemax="100" style="width: {{myscope.vsInfo[myscope.currentVsTab.vsId].volunteer * 100}}%;">
              </div>
            </div>
            <div id="hp_people" style="margin:5px" >
              <img class="img-circle" style="padding:2px" ng-repeat="name in myscope.vsInfo[myscope.currentVsTab.vsId].vlist track by $index" 
                src="http://fakeimg.pl/40/?text={{name}}">
            </div>
            <button type="button" class="btn btn-primary" ng-click="myscope.registerDialog('volunteer')">
              參戰！  
            </button>
          </div>
          <hr/>
          <div style="padding:10px;">
            <h5>SP（物資數）</h5> 
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{myscope.vsInfo[myscope.currentVsTab.vsId].supplement*100}}" 
                aria-valuemin="0" aria-valuemax="100" style="width: {{myscope.vsInfo[myscope.currentVsTab.vsId].supplement*100}}%;">
              </div>
            </div>
            <div id="hp_people" style="margin:5px" >
              <img class="img-circle" style="padding:2px" ng-repeat="name in myscope.vsInfo[myscope.currentVsTab.vsId].slist track by $index" 
                src="http://fakeimg.pl/40/?text={{name}}">
            </div>
            <button type="button" class="btn btn-primary" ng-click="myscope.registerDialog('supplement')">
              物資參戰！  
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
<script>
//var opts = {
//  lines: 13, // The number of lines to draw
//  length: 21, // The length of each line
//  width: 10, // The line thickness
//  radius: 30, // The radius of the inner circle
//  corners: 1, // Corner roundness (0..1)
//  rotate: 0, // The rotation offset
//  direction: 1, // 1: clockwise, -1: counterclockwise
//  color: '#ffffff', // #rgb or #rrggbb or array of colors
//  speed: 1, // Rounds per second
//  trail: 60, // Afterglow percentage
//  shadow: true, // Whether to render a shadow
//  hwaccel: false, // Whether to use hardware acceleration
//  className: 'spinner', // The CSS class to assign to the spinner
//  zIndex: 2e9, // The z-index (defaults to 2000000000)
//  top: '50%', // Top position relative to parent
//  left: '50%' // Left position relative to parent
//};
//var target = document.getElementById('mySpinner');
//var spinner = new Spinner(opts).spin(target);
</script>
