<div class="main-container">
  <div class="text-center" id="mission_map_title" style="width:100%;">
  <img src="images/mission_map_title.png" style="width:80%;max-width:1000px;min-width:800px;"></img>
  </div>

  <div class="text-center" style="min-height:50px;padding:50px;padding-bottom:20px;">
    <img class="tutorial" src="images/tutorial.png" ng-click="miscope.gotoMap()" style="cursor:pointer;" />
    <h3> 若地圖無法正常顯示，請按「重新整理」</h3>
  </div>

  <div class="text-center" style="width:100%;">
    <img src="images/mission_middle_header.png" style="width:80%;margin-bottom:-5px;max-width:1000px;min-width:800px;"></img>
  </div>

  <table class="mymap mission_table" >
    <tr>
    <td class="text-center mission_content row_same_height">
      <div id="mission_frame_boss">
        <img class="img-circle mission_frame_img" src="{{miscope.boss.img}}" style="border:3px solid #B6203F;width:150px;">
        <h3 class="mission_frame_name">{{miscope.boss.name}}</h3>
        <div class="progress-container">
          <div class="mission_progress_txt"><strong>HP</strong></div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{miscope.bossHP*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{miscope.bossHP |  percentage:0 }};">
              {{miscope.bossHP |  percentage:0 }}
            </div>
          </div>
        </div>
      </div>
    </td>
    <td class="mission_content row_same_height" style="border-right:0px solid #B6203F">
      <div class="mission_content_inner" style="height:auto">
        <div class="feeds">
          <div class="mission-feed" ng-repeat="feed in bossFeeds">
            <div class="mission-news-type">
              <img ng-src="images/type-{{feed.type}}.png" />
            </div>
            <div class="mission-news-content">
              <div class="effect">{{feed.effect}}</div>
              <a href="{{feed.link}}" target="_blank">{{feed.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td class="mission_content row_same_height" style="border-left:3px solid #B6203F;">
      <div class="mission_content_inner" style="height:auto">
        <div class="feeds">
          <div class="mission-feed" ng-repeat="feed in citizenFeeds">
            <div class="mission-news-type" ng-class="{ combo: feed.type === 'combo'}">
              <img ng-src="images/type-{{feed.type}}.png" />
            </div>
            <div class="mission-news-content">
              <div class="effect">{{feed.effect}}</div>
              <a href="{{feed.link}}" target="_blank">{{feed.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td class="text-center mission_content row_same_height">
      <div id="mission_frame_citizen">
  <!--      <img class="img-circle mission_frame_img" src="http://graph.facebook.com/{{miscope.newCitizen[0].fid}}/picture?type=square&width=100&height=100" style="border:3px solid #B6203F; width:150px;height:150px;">-->
        <h3 class="mission_frame_name">公民V</h3>
        <div class="progress-container">
          <div class="mission_progress_txt">
            <strong>志工數：{{miscope.vCount}} / {{miscope.vTotal}} </strong>
          </div>

          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{miscope.vCount/miscope.vTotal}}" aria-valuemin="0" aria-valuemax="100" style="width: {{miscope.vCount/miscope.vTotal|  percentage:0}};">
              {{miscope.vCount/miscope.vTotal |  percentage:0}}
            </div>
          </div>
          <div class="mission_progress_txt">
            <strong>物資數：{{miscope.sCount}} / {{miscope.sTotal}} </strong>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{miscope.sCount/miscope.sTotal}}" aria-valuemin="0" aria-valuemax="100" style="width: {{miscope.sCount/miscope.sTotal|  percentage:0}};">
              {{miscope.sCount/miscope.sTotal |  percentage:0}}
            </div>
          </div>
          </div>
      </div>
      <div id="mission_frame_citizen_list">
        <h4 ng-show="miscope.newCitizen.length > 0 "><strong>新加入公民V：</strong></h4>
        <h5 style="color:black;" ng-repeat="citizen in miscope.newCitizen.slice(0,3)">
            {{citizen.name}} （ {{citizen.type}} ）
        </h5>
        <h5 style="color:black;" ng-show="miscope.newCitizen.length > 3">...</h5>
      </div>
    </td>
    </tr>
  </table>
  <div style="height:50px"></div>
  <div class="citizen_v">
    <div class="row" >
      <div class="col-xs-12 text-center">
        <div class="citizen_v_title text-center">
          <h3 style="display:inline;  color:#ffffff; top: -10px;position: absolute;left: 30px;">公民 v 的士氣喊話</h3>
        </div>
      </div>
    </div>
    <div class="row" style="border-top:3px solid #B6203F; border-bottom:3px solid #B6203F; ">
      <div class="col-xs-2 text-center">
        <div class="citizen-avatar" ng-style="citizenAvatar">
        </div>
      </div>
      <div class="col-xs-2 text-center" >
        <div class="citizen_header_slash" style="height:190px; width:180px;">
        </div>
      </div>
      <div class="citizen-quote col-xs-8">
        <h3 class="citizen-speech">
          {{speech}}
        </h3>
        <p class="citizen-author">{{citizen && 'By'}} {{citizen | htmlToPlaintext}}</p>
      </div>
    </div>
  </div>
</div>
<div style="height:50px"></div>
<div class="main-container" id="mission_map_container" style="width:95%;min-width:1000px;">
  <div ng-controller="MapCtrl" ng-include="'views/map.html'"></div>
</div>

