<style>

.mymap .progress{
  border: 3px solid #C2003F; 
  background:none;
}

.mymap a{
  color:#C2003F;
}
.mymap .bg-primary{
  background:#C2003F;
}
.mymap .btn-primary{
  background:#C2003F;
  border-color:#C2003F;
}

.mymap .progress-bar, .mymap .progress-bar[aria-valuenow="0"]{
  color:#ffffff;
  text-shadow: -1px 0 #C2003F, 0 1px #C2003F, 1px 0 #C2003F, 0 -1px #C2003F;
}

.mymap .progress-bar{
  background-color:#C2003F;
}

.mymap .progress-bar[aria-valuenow="0"]{
  background-color:#ffffff;
  text-align:left;
}

.citizen_header_slash{
  background-image: url('images/citizen_header_slash.png');
  background-size: 100% 100%;
}

.citizen_v_title {
  border-bottom: 50px solid #C2003F;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0px;
  width: 300px;
  left:50px;

  position:absolute;
  left:50%;
  top:-45px;
  margin-left:-150px;
  z-index:10;
}

.mymap strong{
 color: #C2003F;
} 

.mission_foot_bottom {
  background-image: url('images/map_bottom_2.svg');
  background-size: 100% 100%;
  margin:20px; 
  padding:0px  40px; 
  display:inline-block;
  text-align:center;
  color: #C2003F;
}

</style>
<div style="height:50px"></div>

<div class="citizen_v">
  <div class="row" >
    <div class="col-xs-12 text-center">
      <div class="citizen_v_title text-center">
        <h3 style="display:inline;  color:#ffffff; top: -10px;position: absolute;left: 30px;">公民 v 的士氣喊話</h3>
      </div>
    </div>
  </div>
  <div class="row" style="border-top:5px solid #C2003F; border-bottom:5px solid #C2003F; ">
    <div class="col-xs-2 text-center">
      <div style="padding:10px;">  
        <img class="img-circle" style="border:3px solid #C2003F; padding:5px;" src="http://fakeimg.pl/150/?text=Avatar">
      </div>
    </div>
    <div class="col-xs-2 text-center" >
      <div class="citizen_header_slash" style="height:190px; width:180px;">
      </div>
    </div>
    <div class="col-xs-8">
      <div style="padding:10px;">  
        <h3>
          死了一個我還有千千萬萬個我
        </h3>
        <h3>
          祭止兀受死吧!!!!
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="text-center" style="width:100%;">
<img src="images/mission_middle_header.svg" style="width:80%;margin-bottom:-5px;max-width:1000px;min-width:800px;"></img>
</div>

<div class="row mymap">

  <div class="col-md-3 text-center" style="border-bottom:5px solid #C2003F; height:300px;" >
    <img class="img-circle" src="{{miscope.boss.img}}" style="border:5px solid #C2003F;width:150px;">
    <h3>{{miscope.boss.name}}</h3>
  </div>
  <div class="col-md-3" style="border-right:5px solid #C2003F;border-bottom:5px solid #C2003F;height:300px;">
    <p><strong>HP</strong></p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        60%
      </div>
    </div>
  </div>

  <div class="col-md-3" style="border-bottom:5px solid #C2003F; height:300px;">
    <p><strong>志工數：{{miscope.vCount}} / {{miscope.vTotal}} </strong></p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{miscope.vCount/miscope.vTotal}}" aria-valuemin="0" aria-valuemax="100" style="width: {{miscope.vCount/miscope.vTotal|  percentage:0}};">
        {{miscope.vCount/miscope.vTotal |  percentage:0}}
      </div>
    </div>
    <p><strong>物資數：{{miscope.sCount}} / {{miscope.sTotal}} </strong></p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{miscope.sCount/miscope.sTotal}}" aria-valuemin="0" aria-valuemax="100" style="width: {{miscope.sCount/miscope.sTotal|  percentage:0}};">
        {{miscope.sCount/miscope.sTotal |  percentage:0}}
      </div>
    </div>
  </div>
  <div class="col-md-3 text-center" style="border-bottom:5px solid #C2003F; height:300px;">
    <img class="img-circle" src="http://fakeimg.pl/150/?text=Citizen%20V" style="border:5px solid #C2003F;">
    <h3>公民V</h3>
  </div>
</div>

<div style="height:50px"></div>

<div class="text-center" style="width:100%;">
<img src="images/mission_map_title.svg" style="width:80%;max-width:1000px;min-width:800px;"></img>
</div>

<div class="text-center" style="min-height:50px;padding:50px;">
參戰說明文字參戰說明文字參戰說明文字參戰說明文字參戰說明文字參戰說明文字
</div>

<div ng-controller="MapCtrl" ng-include="'views/map.html'"></div>


<div class="text-center">
  <img src="images/map_bottom_1.svg" style="margin:20px;width:240px;"></img>
  <a href="#/mission/TPE-4" ng-show="miscope.county != 'TPE-4'">
    <div class="mission_foot_bottom">
      <h3> 蔡正元 </h3> 
    </div>
  </a>
  <a href="#/mission/TPQ-6" ng-show="miscope.county != 'TPQ-6'">
    <div class="mission_foot_bottom">
      <h3> 林鴻池 </h3> 
    </div>
  </a>
  <a href="#/mission/TPQ-1" ng-show="miscope.county != 'TPQ-1'">
    <div class="mission_foot_bottom">
      <h3> 吳育昇 </h3> 
    </div>
  </a>


</div>
