<h2 class="text-center">限時副本任務</h2>
<div class="mission-row" ng-controller="MissionsCtrl">
    <img src="https://s3-ap-southeast-1.amazonaws.com/1129vday.tw/img/1129-mission.svg" alt="" id="mission-major"/>
  <a href="#/mission/TPE-4">
    <img src="https://s3-ap-southeast-1.amazonaws.com/1129vday.tw/img/appy_v_web＿img-16.svg" alt="" class="mission-button" id="mission-button-tsa"/>
  </a>
  <a href="#/mission/TPQ-6">
    <img src="https://s3-ap-southeast-1.amazonaws.com/1129vday.tw/img/appy_v_web＿img-16.svg" alt="" class="mission-button" id="mission-button-wu"/>
  </a>
  <a href="#/mission/TPQ-1">
    <img src="https://s3-ap-southeast-1.amazonaws.com/1129vday.tw/img/appy_v_web＿img-16.svg" alt="" class="mission-button" id="mission-button-lin"/>
  </a>
</div>
