<style>

.mymap .progress{
  border: 3px solid #C2003F; 
  background:none;
}

.mymap a{
  color:#C2003F;
}
.mymap .bg-primary{
  background:#C2003F;
}
.mymap .btn-primary{
  background:#C2003F;
  border-color:#C2003F;
}

.mymap .progress-bar, .mymap .progress-bar[aria-valuenow="0"]{
  color:#ffffff;
  text-shadow: -1px 0 #C2003F, 0 1px #C2003F, 1px 0 #C2003F, 0 -1px #C2003F;
}

.mymap .progress-bar{
  background-color:#C2003F;
}

.mymap .progress-bar[aria-valuenow="0"]{
  background-color:#ffffff;
  text-align:left;
}

.citizen_header_slash{
  background-image: url('images/citizen_header_slash.png');
  background-size: 100% 100%;
}

.citizen_v_title {
  border-bottom: 50px solid #C2003F;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0px;
  width: 300px;
  left:50px;

  position:absolute;
  left:50%;
  top:-45px;
  margin-left:-150px;
  z-index:10;

}

</style>
<div style="height:50px"></div>

<div class="citizen_v">
  <div class="row" >
    <div class="col-md-12 text-center">
      <div class="citizen_v_title text-center">
        <h3 style="display:inline;  color:#ffffff; top: -10px;position: absolute;left: 30px;">公民 v 的士氣喊話</h3>
      </div>
    </div>
  </div>
  <div class="row" style="border-top:5px solid #C2003F; border-bottom:5px solid #C2003F; ">
    <div class="col-md-2 text-center">
      <div style="padding:10px;">  
        <img class="img-circle" style="border:3px solid #C2003F; padding:5px;" src="http://fakeimg.pl/150/?text=Avatar">
      </div>
    </div>
    <div class="col-md-2 text-center" >
      <div class="citizen_header_slash" style="height:190px; width:180px;">
      </div>
    </div>
    <div class="col-md-8">
      <div style="padding:10px;">  
        <h3>
          死了一個我還有千千萬萬個我
        </h3>
        <h3>
          祭止兀受死吧!!!!
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="text-center" style="width:100%;">
<img src="images/mission_middle_header.svg" style="width:80%;margin-bottom:-5px;"></img>
</div>

<div class="row mymap">

  <div class="col-md-3 text-center" style="border-bottom:5px solid #C2003F; height:300px;" >
    <img class="img-circle" src="images/BOSS_TPE-4.svg">
    <p>祭止兀</p>
  </div>
  <div class="col-md-3" style="border-right:5px solid #C2003F;border-bottom:5px solid #C2003F;height:300px;">
    <p>HP</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        60%
      </div>
    </div>
  </div>

  <div class="col-md-3" style="border-bottom:5px solid #C2003F; height:300px;">
    <p>HP (志工數)</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        60%
      </div>
    </div>
    <p>SP (物資數)</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        60%
      </div>
    </div>
  </div>
  <div class="col-md-3 text-center" style="border-bottom:5px solid #C2003F; height:300px;">
    <img class="img-circle" src="http://fakeimg.pl/150/?text=Citizen%20V" style="border:5px solid #C2003F;">
    <p>公民V</p>
  </div>
</div>

<div style="height:50px"></div>

<div class="text-center" style="width:100%;">
<img src="images/mission_map_title.svg" style="width:80%;"></img>
</div>

<div style="height:50px"></div>

<div ng-controller="MapCtrl" ng-include="'views/map.html'"></div>
