
<div class="mission-row" ng-controller="MissionsCtrl">
    <img src="images/1129-mission.png" alt="" id="mission-major"/>
  <img src="images/goto-mission-2.png" alt="" class="mission-button" id="mission-button-tsa"/>
  <img src="images/goto-mission-2.png" alt="" class="mission-button" id="mission-button-wu"/>
  <img src="images/goto-mission-2.png" alt="" class="mission-button" id="mission-button-lin"/>
  <a class="mission-link mission-link-1" href="#/mission/TPE-4"></a>
  <a class="mission-link mission-link-2" href="#/mission/TPQ-1"></a>
  <a class="mission-link mission-link-3" href="#/mission/TPQ-6"></a>

  <div ng-class="mission.name" class="mission-countdown-days" ng-repeat="mission in missions">
    
    <span ng-show="mission.finalDate.ms > 0">
      任務倒數<br>
      <span>{{mission.finalDate.days}} 天</span>
    </span>
    <span ng-show="mission.finalDate.ms <= 0">
      任務結束
    </span>
  </div>

  <a class="other-area volunteer" href="javascript:void(0);" ng-click="registerDialog('volunteer')">
    <img src="images/volunteer.png" />
  </a>
  <a class="other-area stuff" href="javascript:void(0);" ng-click="registerDialog('supplement')">
    <img src="images/stuff.png" />
  </a>

</div>
