<div class="container">
  <div ng-include="'views/nav.html'"></div>
  <div class="main-container">
    <div class="plan-title text-center">
      <img src="images/plan-title.png" alt="Plan title" />
    </div>
    <div class="plan-video text-center">
      <iframe width="700" height="394" src="//www.youtube.com/embed/OtvbZscM90A" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="content-container">
      <p>割闌尾計畫自今年四月誓師成立以來，繼承著堅定的公民意志奮戰不懈，終於在九月底開始，陸續將前三名爛委的2%罷免提議書送進中選會完成罷免第一階段。然而，真正的挑戰在中選會審核完畢，割闌尾團隊領取連署格式後，必須在一個月內突破13%的連署門檻，才能進到罷免投票的階段。</p>

      <p>聰明的你想必憂心忡忡，畢竟要在一個月內收到13%以上的連署書，一天必須收近2,000份，對照目前平均一天僅不到百張的速率，跨越連署門檻簡直是不可能的任務。</p>

      <p>但是，割闌尾計畫絕對不會讓大家失望。一個月的時間攀不過的高山，我們就用一天飛越它。</p>

      <p>這一天，就是今年的選舉日：1129。<br />
      1129，台灣有七成的選民會去投票；1129這一天我們將在投票所外擺攤簽署罷免連署書，讓選舉日變成罷免日，因此割闌尾V計劃就是為了讓罷免第二階段看似不可能的任務變成可能，這一天我們將實建署於人民的參政權！</p>

      <h4><strong>割闌尾V計劃在11/29這一天大獲全勝！</strong></h4>
      <p> 為期半年的長時間計劃和實踐，這一天我們不僅是台灣民主里史上第一次將三位立委同時送入罷免第二階段，這一天蔡正元選區更破四萬張連署書，一舉達標，吳育昇和林鴻池也達門檻1/3。 但今天不是結束，送件後會有很高的不合格率，因此我們需要更多連署書，確保這些闌尾真正被送到第三階段！ </p>
<h4><strong>請所有公民V繼續報名我們<a href="http://goo.gl/MURskc" target="_blank">後續志工</a>，進行收集連署書和整理連署書工作。</strong></h4>



    </div>

    <div class="citizen-v text-center">
      <img src="images/citizen-v.png" alt="citizen V" />
      <hr class="double-line" />
    </div>

    <h2 class="center-title">誰是公民 v ?</h2>

    <div class="content-container">
      <p>
        這是一場全民覺醒的運動，超越了議會，從家庭、從巷口、從網路，從社會的各個角落開始綻放，罷免不再是瀕死的法條，而是活著的行動。割去發炎的「闌尾」，從體制內去影響、去改變現今有缺陷的代議制度，讓我們一起締造台灣新型態的社會運動。
      </p>
      <p>
        不論你是想擔任當天擺攤志工、物資提供或純粹想要鍵盤參戰，亦或是您想要長期熱情參與，你都可以成為割闌尾V計劃的公民V，現在就點擊下方「前往任務」輕鬆三步驟即可完成：
      </p>
      <p>
        Step 1 ：選擇想要支援的選區 (蔡正元、吳育昇、林鴻池)<br />
        Step 2：選擇里、投開票所<br />
        Step 3：填寫資料
        </p>
      <p>
        資料填寫完成後，我們將有專人與您聯繫相關訊息。
      </p>
    </div>

    <hr class="double-line" />
    <div class="text-center goto-mission">
      <a href="#/"><img src="images/goto-mission.png" alt="go to mission" /></a>
    </div>
  </div>
</div>
<div ng-include="'views/footer.html'"></div>
