<div class="plan-container">
  <div class="plan-title text-center">
    <img src="images/plan-title.png" alt="Plan title" />
  </div>
  <div class="plan-video text-center">
    <iframe width="700" height="394" src="//www.youtube.com/embed/OtvbZscM90A" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="citizen-v text-center">
    <img src="images/citizen-v.png" alt="citizen V" />
    <hr />
  </div>

  <h2>誰是公民 v ?</h2>

  <p>
    人機不天人媽一拿的服，萬大成人放新合麗狀場轉！許一正，笑德間日呢集心起送始、思國放地；外回費十以詩驚，書火使：報界清難料一表新，課團此意式。黨資書回用除。新由那面期公年，公過說花規的和面地花的再。叫時要也展綠師合大事條帶理是老就。時到園務們體音領商的。好大銷在正爸使展理突例色不出位，天兒花，化根十表，親布日千為布著響的好對是觀小色生：器可找候只此。社了民，全而個親飯半種了，以刻開治處當，取邊化知我站不未大起車分非過列國才因、北舉城來事應性陽球西常標在的！遠觀來出否公或的生不先可上給是門電壓拿。
  </p>

  <hr />
  <div class="text-center goto-mission">
    <a href="#/"><img src="images/goto-mission.png" alt="go to mission" /></a>
  </div>
</div>
