<style>
.register_supplement td, .register_supplement th{
  text-align:left;
  padding:2px 5px;
}

.register_supplement th {
  border-bottom:1px solid #cccccc;
}

</style>
<div>
  <div class="modal-header">
    <h3 class="modal-title">一起來佔領！</h3>
  </div>
  <form action="" name="content.register">
  <div class="modal-body">

    <p>
      勇敢的勇士呀！<br/>
      感激你勇敢的站出來，為台灣的民主貢獻一份心力！<br/>
      我們需要你的協助一同把這個可惡的大魔王給幹掉！<br/>
    </p>


    <hr/>

    <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" 
      data-ng-click="intentLogin()">Login with Facebook</button>
    <div data-ng-show="logged">
      
      <div class="row">
        <div class="col-xs-2">
          <img src="http://graph.facebook.com/{{content.userid}}/picture?type=square"/ style="margin-bottom:10px;"> <br/>
          <button type="button" class="btn btn-primary btn-large" data-ng-show="logged" data-ng-click="logout()">Logout</button>
        </div> 
        <div class="col-xs-10">
          <p>
            勇者呀！該如何稱呼您呢？（facebook暱稱或名字）<br/>
            <strong>{{content.name}}</strong><br/>
          </p> 
          <p>
            勇者呀！該想要在哪裡紮營？（認養的投開票所）<br/>
            <strong>{{content.votestat}}</strong>
          </p>
        </div>
      </div>
      <hr/>
      <p>
        勇者呀！該如何聯繫你呀？<strong>（請填入手機，重大訊息會在重要時刻與你聯繫！）</strong><br/>
        <input type="text" name="phone" required data-ng-model="content.phone"></input>
      </p> 
      <p>
        勇者呀！該如何寄資訊給你呀？<strong>（請填入E-Mail）</strong><br/>
        <input type="email" name="email" required data-ng-model="content.email"></input>
      </p> 

      <span ng-show="regscope.type == 'supplement'">
        <p >
          想要捐贈什麼物資裝備？<strong>（想要幫忙提供什麼物資？）</strong><br/>
        </p>
        <table class="register_supplement">
          <tr><th>項目</th><th>尚缺</th><th>我要提供</th></tr>
          <tr ng-repeat="(ikey,ival) in regscope.selectItems">
            <td>
              {{ ival[1] }}  
            </td>
            <td>
              {{ regscope.supCount[ikey] + content.supplement[ikey] }}/{{ ival[0] * regscope.supWeight }}
            </td>
            <td>
              <input type="number" name="supplement[ikey]" style="width:40px;margin-left:20px;" ng-model="content.supplement[ikey]" min="0" required > 
            </td>
          </tr>
        </table>
        <br/>
        <input type="checkbox" name="supplement.others_select"  data-ng-model="content.supplement.others_select">其他物資
        <input type="text" name="supplement.others_select_text" data-ng-model="content.supplement.others" 
          data-ng-show="content.supplement.others_select"></input>
      </span>

      <p>
        <input type="checkbox" data-ng-model="regscope.fbshare">分享到facebook<br>
      </p>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-8">
        <p class="bg-danger text-danger" style="text-align:left">{{regscope.errors}}</p>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-primary" data-ng-click="send()"  data-ng-show="logged">Send</button>
        <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
  </form>
</div>

